* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

body{
    background-color: #8A51FC;
}

.logo{
    width: 27rem;
    display: block;
    margin: 1.8rem auto;
}

main{
    width: 27rem;
    background-color: bisque;
    border-radius: 0.9rem;
    margin: 1rem auto;
    padding: 2.8rem 1.5rem 1.4rem;
}

label{
    color: #777777;
    font-weight: 500;
    font-size: 1.2rem;
}

select, input{
    font-size: 1.4rem;
    font-weight: 500;
    color: #555555;
    background: #FFFFFF;
    border: 0.1rem solid #BBBBBB;
    border-radius: 0.5rem;
    height: 3rem;
    width: 100%;
    margin-bottom: 1.8rem;
    padding-left: 1.2rem;
}

button{
    background: #772FD3;
    border: 0.1rem solid #BBBBBB;
    border-radius: 0.4rem;
    height: 2.5rem;
    width: 100%;
    font-size: 1.7rem;
    font-weight: 700;
    color: #454545;
    cursor: pointer;
}

button:hover{
    opacity: 0.9;
}

button:active{
    opacity: 0.6;
}

section{
    border: 0.2rem solid #BBBBBB;
    border-radius: 1.5rem;
    margin-top: 2.2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.2rem;
}

.arrow-img{
    margin: 1rem 0;
}

.currency-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
}

.currency{
    color: #777777;
    font-size: 1.2rem;
}

.currency-value{
    color: #555555;
    font-weight: 700;
    font-size: 1.4rem;
}